@include use-modal('account-details') {
  width: 100%;
  max-width: 400px;
}

.ui--account-details {
  display: grid;
  grid-gap: 1rem;

  .title {
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: 1fr auto;
    align-items: center;

    .h5 {
      color: var(--color-secondary);
      font-size: $font-size-medium;

      b {
        font-weight: $font-weight-bold;
      }
    }
  }

  .address {
    padding: 0.75rem 1rem;
    color: var(--color-hunt-3);
    background-color: var(--color-gray);
    box-shadow: 0 0 0 1px var(--color-hunt-1);
    border-radius: $border-radius-medium;
    font-weight: $font-weight-bold;

    @include text-ellipsis();
  }

  .btn {
    &-disconnect {
      padding: 0.5rem 0.75rem;
      color: var(--color-hunt-2);
      background-color: var(--color-hunt-1);

      .text {
        font-size: $font-size-small;
        font-weight: $font-weight-bold;
      }
    }

    &-addon {
      grid-gap: 0.5rem;
      margin-right: 1rem;
      color: var(--color-hunt-2);

      .icon {
        font-size: $font-size-medium;
      }

      .text {
        font-size: $font-size-small;
      }
    }
  }
}
