.btn {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;

  font-size: $font-size-medium;
  font-weight: $font-weight-bold;

  color: var(--color-secondary);
  border-radius: $border-radius-small;
  user-select: none;
  cursor: pointer;

  @include class-contains('-container') {
    display: inline-flex;
    justify-content: center;
    align-items: center;
  }

  .icon {
    line-height: 0;
    font-size: $font-size-large;
  }

  .text {
    line-height: 1;
    font-weight: $font-weight-medium;
  }

  &-text {
    &:hover {
      .text {
        text-decoration: underline;
      }
    }
  }

  &-primary {
    color: var(--color-hunt-1);
    background-color: var(--color-hunt-2);

    &:hover {
      background-color: var(--color-hunt-3);
    }

    &-outline {
      color: var(--color-primary);
      box-shadow: 0 0 0 1px var(--color-primary);

      &:hover {
        text-decoration: underline;
        background-color: rgba($color-primary, 0.04);
      }
    }
  }

  &-secondary {
    color: var(--color-hunt-2);
    background-color: var(--color-hunt-4);

    &:hover {
      color: var(--color-hunt-3);
    }
  }

  &-overlay {
    color: var(--color-hunt-2);
    background-color: var(--color-gray);

    &:hover {
      color: var(--color-hunt-3);

      .text {
        text-decoration: underline;
      }
    }
  }

  &:disabled,
  &.disabled {
    opacity: 0.88;
    cursor: not-allowed;
    filter: grayscale(44%);
  }

  &-swap {
    width: 100%;
    height: 48px;
  }

  &-text-primary {
    color: var(--color-primary);
  }
}
