.btn {
  position: relative;
  display: grid;
  grid-gap: 1rem;
  grid-auto-flow: column;
  align-items: center;
  justify-content: center;
  font-size: var(--font-size-medium);
  font-weight: var(--font-weight-bold);

  .icon {
    line-height: 1;
    font-size: var(--font-size-large);
  }

  .text {
    line-height: 1;
    font-weight: var(--font-weight-medium);
  }

  &-text {
    &:hover {
      .text {
        text-decoration: underline;
      }
    }
  }

  &-primary {
    border-radius: var(--border-radius-small);
    background-color: var(--color-primary);

    .text,
    .icon {
      color: var(--color-secondary);
      font-weight: var(--font-weight-bolder);
    }
  }

  &:disabled,
  &.disabled {
    opacity: 0.88 !important;
    cursor: not-allowed !important;
    filter: grayscale(10%) !important;
  }
}
