@include use-modal('connect-wallet') {
  width: 100%;
  max-width: 375px;
}

.ui--connect-wallet {
  display: grid;
  grid-gap: 2rem;
  grid-auto-flow: row;

  &-group {
    display: grid;
    grid-gap: 1rem;

    &:hover {
      .btn {
        opacity: 0.75;
      }
    }
  }

  &-list {
    &.recommended {
      .h4 {
        &::after {
          padding: 0 0 0 5px;
          line-height: 1;
          content: '(Recommended)';
          font-size: $font-size-smaller;
          font-weight: $font-weight-medium;
        }
      }
    }
  }

  &-footer {
    text-align: center;
  }

  .btn {
    &-wallet {
      justify-content: flex-start;
      grid-gap: 1rem;
      width: 100%;
      padding: 8px 16px;
      background-color: var(--color-gray);
      border-radius: $border-radius-medium;
      transition: all $transition-time ease;

      &:hover {
        opacity: 1 !important;
        background-color: var(--color-gray);
      }

      .icon {
        display: block;
        width: 40px;
        height: 40px;
        border-radius: 100%;
        box-shadow: 0 0 0 2px var(--color-blue-2);
      }

      .text {
        text-align: left;
      }

      .h4 {
        font-weight: $font-weight-bold;
        line-height: 150%;
      }

      .h6 {
        color: var(--color-hunt-4);
      }
    }

    &-guide {
      grid-gap: 0.5rem;

      .icon {
        font-size: $font-size-large;
      }
    }
  }
}
