.ui--header {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  background-color: rgba(silver, 0.2);

  &-container {
    display: grid;
    grid-auto-flow: column;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
    height: 80px;
  }

  &-context {
    &.ltr {
      display: grid;
      grid-gap: 4rem;
      grid-auto-flow: column;
      align-items: center;
    }

    // &.rtl {}
  }

  // &-user {}

  &-account {
    position: relative;
    height: 40px;

    &-avatar {
      display: grid;
      grid-gap: 0.75rem;
      grid-auto-flow: column;
      align-items: center;
      cursor: pointer;

      .icon {
        display: block;
        width: 40px;
        height: 40px;
        object-fit: cover;
        object-position: center;
        border-radius: 50%;
      }

      .text {
        font-size: 16px;
        font-weight: var(--font-weight-bold);
      }
    }

    &-menu {
      position: absolute;
      top: calc(100% + 1rem);
      right: 0;
      padding: 1rem 0;
      border-radius: 8px;
      box-shadow: 0 6px 14px rgba(#121212, 0.1);
      background-color: white;
      transition: all var(--transition-time) ease;

      &:not(.active) {
        opacity: 0;
        pointer-events: none;
        transform: translateY(-4px);
      }

      .ul {
        min-width: 189px;
        max-width: 210px;
      }
    }
  }

  .btn {
    &-logo {
      grid-gap: 0;
      user-select: none;

      span {
        text-transform: uppercase;
        font-size: var(--font-size-large);

        &:nth-child(1) {
          padding-right: 2px;
          font-weight: var(--font-weight-bolder);
        }

        &:nth-child(2) {
          font-weight: var(--font-weight-bolde);
          padding: 0 4px;
          color: var(--color-primary);
          background-color: var(--color-secondary);
          border-radius: 2px;
        }
      }
    }

    &-connect {
      height: 40px;
      padding: 0 2rem;

      .text {
        text-transform: uppercase;
      }
    }

    &-link {
      display: grid;
      grid-template-columns: 2rem 1fr;
      align-items: center;
      height: 36px;
      padding: 0 1.5rem;
      color: var(--color-secondary);
      background-color: transparent;

      &:hover {
        color: var(--color-secondary);
        background-color: rgba(#c6bc9d, 0.15);
      }

      .icon {
        text-align: center;
        font-size: var(--font-size-large);
      }

      .text {
        text-transform: capitalize;
      }
    }
  }
}
