.ui--modal {
  &.none {
    pointer-events: none;
  }

  &-wrapper {
    position: fixed;
    inset: 0;
    z-index: 40;
    padding: 4rem;
    display: grid;
    overflow: hidden auto;
    background-color: rgba(black, 0.64);

    // &.is-default {}

    &.is-dialog {
      &.enter,
      &.exit-active {
        @include class-contains('-container') {
          opacity: 0;
          transform: scale(0.98);
        }
      }

      &.enter-active {
        @include class-contains('-container') {
          opacity: 1;
          transform: scale(1);
        }
      }

      @include class-endWith('modal-container') {
        min-width: 320px;
        background-color: white;
        border-radius: var(--border-radius-large);
        box-shadow: 0 1rem 2rem rgba(black, 0.25);
      }

      @include class-endWith('modal-body') {
        line-height: 1.5;
        color: var(--color-arkon);

        small {
          display: block;
          margin: 0.75rem 0 0;
          font-size: var(--font-size-small);
        }
      }

      @include class-endWith('modal-footer') {
        display: grid;
        grid-gap: 1rem;
        grid-auto-flow: column;
        justify-content: flex-end;
        padding: 0 1.5rem 1.5rem;

        .btn {
          min-width: 80px;
          width: auto;
          height: 30px;

          &:focus {
            outline: 1px solid var(--color-arkon);
            outline-offset: 1px;
          }

          .text {
            text-transform: capitalize;
            font-size: var(--font-size-small);
            font-weight: var(--font-weight-bold);
          }
        }
      }
    }
  }

  &-container {
    position: relative;
    margin: 0 auto;
    min-width: 256px;
    align-self: center;
    justify-self: center;
    transition: all var(--transition-time) var(--cubic-bezier);
  }

  &-header {
    position: relative;
    display: grid;
    grid-gap: 2rem;
    grid-template-columns: 1fr auto;
    align-items: center;
    padding: 2rem 2rem 0;
    border-radius: var(--border-radius-large) var(--border-radius-large) 0 0;
    background-color: white;
    user-select: none;

    @include screen-xs {
      padding: 1.5rem 1.5rem 1.25rem;
      border-bottom: 1px solid var(--color-arkon-2);
    }

    .title {
      padding: 4px 0 0;
      color: var(--color-arkon-4);
      font-size: var(--font-size-large);
      font-weight: var(--font-weight-bold);

      @include screen-xs {
        line-height: auto;
        font-size: var(--font-size-large);
        font-weight: var(--font-weight-bold);
      }
    }

    .btn {
      &-close {
        width: 24px;
        height: 24px;
        color: var(--color-arkon-4);

        &:hover {
          color: var(--color-orange);
        }

        .icon {
          font-size: var(--font-size-medium);
        }
      }
    }
  }

  &-boby {
    padding: 32px 32px;
    color: var(--color-orange);

    @include screen-xs {
      padding: 16px 16px;
    }
  }

  // &-footer {}
}
