.ui--navbar {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 20;
  padding: 0 1.5rem;
  grid-area: area-navbar;
  background-color: shade($color-secondary, 15%);

  // Nested At-Rules and Bubbling.
  // @supports (-webkit-backdrop-filter: none) or (backdrop-filter: none) {
  //   backdrop-filter: blur(20px);
  // }

  &-container {
    position: relative;
    display: grid;
    grid-gap: 2rem;
    grid-template-columns: 1fr auto;
    align-items: center;
    height: 100%;
  }

  &-column {
    display: grid;
    grid-auto-flow: column;
    align-items: center;

    &.lf {
      grid-gap: 3rem;
      justify-self: flex-start;
    }

    &.rg {
      grid-gap: 2rem;
      justify-self: flex-end;
    }
  }

  &-logo {
    display: grid;
    align-items: center;

    .text {
      color: var(--color-hunt-1);
      font-size: $font-size-larger;
      font-weight: $font-weight-bolder;
      text-transform: uppercase;
    }
  }

  &-menu {
    display: grid;
    grid-gap: 2rem;
    grid-auto-flow: column;
  }

  .btn {
    &-menu {
      position: relative;
      height: 40px;
      color: var(--color-hunt-3);
      border-radius: unset;

      @include screen-xs {
        display: none;
      }

      &.active {
        color: var(--color-primary);
        border-color: var(--color-primary);

        &::after {
          position: absolute;
          left: 0;
          right: 0;
          bottom: -11px;
          height: 3px;
          content: '';
          border-radius: 2px 2px 0 0;
          background-color: var(--color-primary);
        }
      }

      .text {
        font-size: $font-size-large - 2;
        font-weight: $font-weight-bold;
      }
    }

    &-connect {
      grid-gap: 0.75rem;
      padding: 0 1.5rem;
      height: 40px;

      @include screen-xs {
        width: 40px;
        padding: 0;
      }

      .icon {
        font-size: $font-size-large;
      }

      .text {
        font-weight: $font-weight-bold;

        @include screen-xs {
          display: none;
        }
      }
    }

    &-account {
      .icon {
        display: grid;
        align-items: center;
        height: 40px;

        &.wallet {
          width: 44px;
          font-size: $font-size-large + 2;
          color: var(--color-hunt-1);
          background-color: var(--color-primary);
          border-radius: $border-radius-small 0 0 $border-radius-small;
        }

        &.arrow {
          width: 22px;
          justify-content: flex-start;
          font-size: $font-size-small;
          color: var(--color-hunt-3);
          background-color: var(--color-hunt-1);
          border-radius: 0 $border-radius-small $border-radius-small 0;
        }
      }

      .text {
        padding: 0 1rem;
        line-height: 40px;
        font-weight: $font-weight-bold;
        color: var(--color-hunt-3);
        background-color: var(--color-hunt-1);
      }
    }

    &-ellipsis {
      height: 40px;
      padding: 0 0.5rem;

      @include screen-xs-min {
        display: none;
      }

      .text {
        font-size: $font-size-small;
        font-weight: $font-weight-bold;
      }
    }
  }
}
