.ui--tooltip {
  position: relative;

  &:hover {
    @include class-contains('-container') {
      pointer-events: auto;
      opacity: 1;
      transform: translate(-50%, -2%);

      @include screen-xs {
        transform: translate(-28%, 1%);
      }
    }
  }

  &-container {
    position: absolute;
    z-index: 1;
    left: 50%;
    bottom: 80%;
    padding: 0 0 0.75rem;
    pointer-events: none;
    opacity: 0;
    transform: translate(-50%, 0);
    transition: all $transition-time ease;

    @include screen-xs {
      transform: translate(-28%, 3%);
    }
  }

  &-inner {
    border-radius: $border-radius-medium;
    background-color: var(--color-white);
    box-shadow: 0 10px 15px rgba($color-hunt-4, 0.1);
  }
}
