// SET global classes.
.ui- {
  &-wrapper {
    background-attachment: fixed;
    background-image: linear-gradient(rgba(white, 0.75), rgba(white,0.75)), url('/static/images/spindle.png');
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
  }

  &-layout {
    &-wrapper {
      display: grid;
      grid-template-rows: auto 1fr auto;
      min-height: 100vh;
    }
  }

  &-router {
    &-view {
      padding: 2rem;
    }
  }
}

