// Color
$color-red              : #EB4747;
$color-orange           : #F2994A;
$color-yellow           : #F6CF56;
$color-green            : #3FC66D;
$color-blue             : #105EFB;
$color-white            : #FFFFFF;
$color-gray             : #F5F5F5;
$color-hunt-1           : #EEEBDD;
$color-hunt-2           : #810000;
$color-hunt-3           : #630000;
$color-hunt-4           : #1B1717;
$color-primary          : #A20A0A;
$color-secondary        : #121212;

// Font
$font-family-base       : 'Source Sans Pro', 'Helvetica Neue', sans-serif;
$font-family-code       : Consolas, Menlo, Courier, monospace;
$font-size-larger       : 22px;
$font-size-large        : 18px;
$font-size-medium       : 14px;
$font-size-small        : 12px;
$font-size-smaller      : 10px;
$font-weight-light      : 200;
$font-weight-medium     : 400;
$font-weight-bold       : 600;
$font-weight-bolder     : 800;
$line-height            : 1.515;

// Border
$border-radius-small    : 4px;
$border-radius-medium   : 8px;
$border-radius-large    : 12px;

// Animation
$animation-time         : 320ms;
$transition-time        : 128ms;
$cubic-bezier           : cubic-bezier(0.77, 0, 0.175, 1);

// Media queries breakpoints
$screen-xs              : 576px;  // Small tablets and large smartphones (landscape view)
$screen-sm              : 768px;  // Small tablets (portrait view)
$screen-md              : 992px;  // Tablets and small desktops
$screen-lg              : 1260px; // Large tablets and desktops
