.ui--labs {
  &-container {
    .rows {
      margin: 0 0 4rem;

      &.grid {
        display: grid;
        gap: 2rem;
        grid-auto-flow: column;
        justify-content: flex-start;
      }

      &:last-child {
        margin: 0;
      }
    }

    .btn {
      height: 2.5rem;
      padding: 0 1.5rem;

      .text {
        text-transform: capitalize;
        font-weight: var(--font-weight-bold);
      }
    }
  }
}
