@import '../core/variable', '../core/mixin';

.ui--labs {
  &-container {
    padding: 2rem;
  }

  &-context {
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(4, auto);
    justify-content: center;
    margin: 4rem 0 2rem;

    .btn {
      height: 40px;
      padding: 0 2rem;

      .text {
        font-weight: $font-weight-bolder;
        text-transform: uppercase;
      }
    }
  }

  &-json {
    pre {
      width: fit-content;
      margin: 0 auto;
      padding: 2rem;
      color: var(--color-hunt-1);
      background-color: shade($color-secondary, 15%);
      border-radius: $border-radius-medium;
      box-shadow: 0 0 0 1px var(--color-hunt-4);
    }
  }
}
