.ui--profile {
  &-navigator {
    position: sticky;
    top: 4rem;
    width: 256px;
    padding: 4rem 0;

    .rows {
      margin: 0 0 2rem;

      .hr {
        border-color: var(--color-border-2);
      }

      &:nth-child(1) {
        min-height: 223px;
      }

      &:nth-child(2) {
        margin: 0 2.5rem;
        padding: 1rem 0 0;
        border-top: 1px solid var(--color-border-2);
      }
    }

    .name {
      color: var(--color-primary);
      margin: 0.75rem 0 0;
      text-align: center;
      text-transform: capitalize;
      font-size: 22px;
      font-weight: var(--font-weight-bold);
    }

    .address {
      text-align: center;
      color: var(--color-desc-1);
    }

    .bio {
      margin: 0.5rem 2.5rem 0;
      text-align: center;
      color: var(--color-desc-2);
      font-style: italic;
      font-size: var(--font-size-small);
    }

    .btn {
      &-link {
        grid-gap: 0.75rem;
        grid-template-columns: 18px 1fr;
        height: 45px;
        padding: 0 1rem;
        margin: 0 0 1px;
        justify-content: flex-start;
        border-radius: var(--border-radius-medium);

        &:hover,
        &.router-link-active {
          background-color: rgba(#1b2430, 0.04);
        }

        .text {
          text-transform: capitalize;
        }
      }
    }
  }
}
